<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!-- Send recipe from an array (data) to Input recipe of recipe item component -->

    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
      (recipeSelected)="onRecipeSelected(recipeEl)"
    ></app-recipe-item>
    <!-- Receive click event from recipe item compartment
    then Emits once again a event of selected recipe to send to the recipe comparment -->
  </div>
</div>
